.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0 12px;

}

.login{
    background-color:#d8d8d8 ;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area{
    background-color: #a46d6d;
    width: 100%;
    display:flex ;
    justify-content: center;
}

.login-area img{
    width: 170px;
    height: 150px;
    padding: 20px;
}

form{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 1em;
    color: #a46d6d;
}

.login input{
    margin-bottom: 1em;
    height: 35px;
    border-radius:4px;
    border: 0;  
    padding: 10px;
    font-size: 15px;
    background-color: #ffffff;
}

form button{
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #a46d6d;
    color: #fff;
    font-size: 1.3em;
}

.login a{
    margin: 1.5em 0;
    color: black;
    cursor: pointer;
}
